# funny files
_ss_environment.php
db.sql
.sass-cache
.DS_Store
npm-debug.log
.buildpath
.project
.settings
.env

# excluded dirs
/silverstripe-cache
/vendor
/public/assets/
/public/resources/
/public/_resources/
/public/cache/
/public/offline/

# excluded themes
/themes/sswebpack_engine_only
