/_ss_environment.php
/db.sql
.sass-cache
.DS_Store
npm-debug.log
/.buildpath
/.project
/.settings
/.env

/silverstripe-cache
/vendor
/public/assets/
/public/resources/
/public/cache/
/public/offline/

/themes/sswebpack_engine_only
/themes/sun
