### start example security headers

<IfModule mod_headers.c>
    Header set Content-Security-Policy " \
        upgrade-insecure-requests ; \
        connect-src 'self' mysite.com.nz www.mysite.com.nz  ssl.gstatic.com www.gstatic.com www.google-analytics.com www.googletagmanager.com tagmanager.google.com www.google-analytics.com ssl.google-analytics.com; \
        style-src 'self' data: mysite.com.nz www.mysite.com.nz  tagmanager.google.com fonts.googleapis.com 'unsafe-inline'; \
        img-src 'self' data: mysite.com.nz www.mysite.com.nz  ssl.gstatic.com www.gstatic.com www.google-analytics.com www.googletagmanager.com 'unsafe-inline' 'unsafe-eval' ; \
        object-src 'self' ; \
        font-src 'self' fonts.gstatic.com data: ; \
        script-src 'self' www.googletagmanager.com tagmanager.google.com www.google-analytics.com ssl.google-analytics.com 'unsafe-inline' ; \
        base-uri 'self' ; \
        frame-ancestors 'none' ;\
        form-action 'self'; \
        default-src 'none' ; \
    "
    Header always append X-Frame-Options SAMEORIGIN
    Header always set Referrer-Policy "same-origin"
    Header always set Feature-Policy "vibrate 'self'; usermedia *"
    Header set X-Content-Type-Options nosniff
    Header set X-Permitted-Cross-Domain-Policies "none"
</IfModule>


### end example security headers

### SILVERSTRIPE START ###

# Deny access to templates (but allow from localhost)
<Files *.ss>
    Require ip 127.0.0.1
</Files>

# Deny access to IIS configuration
<Files web.config>
    Require all denied
</Files>

# Deny access to YAML configuration files which might include sensitive information
<Files ~ "\.ya?ml$">
    Require all denied
</Files>

# Route errors to static pages automatically generated by SilverStripe
ErrorDocument 404 /assets/error-404.html
ErrorDocument 500 /assets/error-500.html

<IfModule mod_rewrite.c>

    # Turn off index.php handling requests to the homepage fixes issue in apache >=2.4
    <IfModule mod_dir.c>
        DirectoryIndex disabled
        DirectorySlash On
    </IfModule>

    SetEnv HTTP_MOD_REWRITE On
    RewriteEngine On

    # Enable HTTP Basic authentication workaround for PHP running in CGI mode
    RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]

    # Deny access to potentially sensitive files and folders
    RewriteRule ^vendor(/|$) - [F,L,NC]
    RewriteRule ^\.env - [F,L,NC]
    RewriteRule silverstripe-cache(/|$) - [F,L,NC]
    RewriteRule composer\.(json|lock) - [F,L,NC]
    RewriteRule (error|silverstripe|debug)\.log - [F,L,NC]

    # Process through SilverStripe if no file with the requested name exists.
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule .* index.php
</IfModule>
### SILVERSTRIPE END ###
