$colour_bad: red;
$colour_good: green;
$background_color_1: #f8f8f8;
$background_color_2: #ffcc1a;
$background_color_5: none;
$background_color_6: transparent;

.typography {
    form {
        width: auto!important;
        * {
            font-size: 2rem;
        }
        margin-top: 2rem;
        margin-bottom: 4rem;
        fieldset,
        .userform-fields
        {
            border: 1px dashed $colour_modern_iron!important;
            border-top-right-radius: 1rem;
            padding: 3vw;
            background-color: $colour_white;
            margin: 2rem 0;
            h1, h2, h3, h4, h5, h6 {
                font-size: 2rem;
                text-transform: uppercase;
                font-weight: bold;
                &:before {
                    border: none!important;
                }
            }
            h1, h2, h3, h4, h5, h6, p, ul, ol {
                padding-top: 1rem;
                padding-bottom: 0em;
                margin: 0;
                float: none;
                line-height: 1.2;
            }
            .field {
                padding-top: 3rem;
                width: 100%;
                padding-bottom: 0.8rem;
            }
            label {
                font-size: 2rem;
                // font-style: italic;
                color: $colour_yep_thats_grey_revers!important;
            }
            .middleColumn {
                display: block;
                text-align: left;
                input,
                textarea,
                select
                {
                    background-color: $colour_light_grey_aotrom;
                    width: calc(100% - 3rem);
                    border: none;
                    transition: all 0.5s ease 0s;
                    margin-top: 0px;
                    padding: 1.5rem;
                    font-weight: 600;
                    -webkit-transition: all 0.5s ease 0s;
                    border-bottom: 3px solid $colour_modern_iron;
                    color: $colour_black_lighter;
                    &:focus {
                        border-bottom: 3px solid $colour_burngreen !important;
                        outline: none !important;
                        background-color: $colour_burngreen ;
                    }
                    border-top-right-radius: 1rem;
                    &.no-value {
                        border-bottom-color: $colour_blue_cobalter!important;
                    }
                    &.no-value:focus {
                        border-bottom: 3px solid $colour_sunny_side_up_yellow !important;
                    }
                }

                select {
                    width: 100%;
                }
                &+label.right {
                    display: block;
                    text-align: left;
                    font-style: italic;
                }
                ul {
                    margin-left: 0 !important;
                    padding-left: 0 !important;
                    margin-top: 0px;
                    padding-top: 0px;
                }
                li {
                    &:nth-child(odd) {
                        margin-right: 3rem !important;
                    }
                    list-style: none !important;
                    margin-top: 0px;
                    padding-top: 0px;
                    padding-bottom: 0.5rem;
                }
                .radio, .checkbox  {
                    border: 0;
                    &:hover {
                        border: 0;
                    }
                    &:focus {
                        border: 0;
                    }
                }
            }
            p.checkbox {
                display: block;
                text-align: left;
            }
            .fieldgroup {
                .middleColumn {
                    margin-left: 0px;
                }
            }
            label {
                padding-bottom: 0.2rem;
                display: block;
            }
            label.FormHeading {
                display: block;
                color: $colour_vexy;
                font-weight: 600;
                margin-bottom: 1rem;
            }
            span.message {
                margin-top: 0;
                font-weight: 900px;
            }
            span.bad {
                background-color: $colour_bad;
                color: $colour_white;
            }
            span.required {
                background-color: $colour_bad;
                color: $colour_white;
            }
            span.good {
                background-color: $colour_good;
                color: $colour_white;
            }
            .field + span.message {
                margin-top: -0.8rem;
            }

            input.password,
            input.numeric,
            input.currency,
            input.date {
                max-width: 27rem;
            }
            .optionset, .checkboxset {
                label.left {
                    border: 0;
                }
            }
            .radio {
                width: auto !important;
            }
            .checkbox {
                width: auto !important;
                label.right {
                    display: block;
                    margin-left: 0px;
                    text-align: left;
                    line-height: 1;
                }
                input {
                    float: left;
                    margin-top: 13px;
                    margin-left: 13px;

                }
            }
            .confirmedpassword {
                .middleColumn {
                    margin-left: 0px;
                    a {
                        display: block;
                    }
                }
            }
            span.readonly {
                padding: 0.7rem;
                margin-top: 0px;
                color: $colour_black;
                font-weight: 600;
                border-bottom: 3px solid $colour_vexy !important;
                display: block;
                background-color: $colour_light_grey_aotrom;
                border-top-right-radius: 1rem;
                font-size: 2rem;
            }
        }
        .btn-toolbar {
            display: block;
            text-align: left;
            input {
                padding: 1.3rem 1.7rem;
                background: $colour_blue_cobalter;
                border-top-right-radius: 0;
                border-bottom-left-radius: 1rem;
                border: 1px dashed $colour_modern_iron;
                text-decoration: none !important;
                width: auto;
                text-align: center;
                font-weight: 600;
                color: $colour_white;
                &:hover {
                    margin-top: -1px;
                    margin-bottom: 1px;
                }
                &:active {
                    color: $colour_black;
                    background: $colour_hypocrite_yellow;
                }
            }
        }
        p {
            margin-top: 1.7rem!important;
            margin-left: 0!important;
            font-size: 2rem!important;
        }
        p.ForgotPassword {
            display: block;
            text-align: left;
        }
        .message {
            font-size: 2rem!important;
            line-height: 1;
            margin-bottom: 0.5rem;
            font-weight: 600;
            background-color: $colour_sunny_side_up_yellow;
            display: block;
            padding: 1rem;
            text-align: center;
            color: $colour_black_lighter;
            a {
                display: inline-block;
                color: $colour_white;
                padding: 0 3px;
            }
        }
        > p.message {
            margin-bottom: -3.5rem!important;
            width: calc(50% - 2rem);
            z-index: 9;
            position: relative;
            left: 50%;
        }
    }
}
