
.typography {
    // *, a:link, a:visited {
    //     color: $colour_vexy;
    // }
    p, ul, ol, address {
        margin-top: 0;
        padding-top: 0;
        padding-bottom: 4rem;
        margin-bottom: 0;
        line-height: 1.5;
        font-size: 2rem;
        &:last-child {
            padding-bottom: 2rem;
        }
    }

    h1, h2, h3, h4, h5, h6 {
        font-family: $base_font_headers;
        font-weight: 500;
        line-height: 1.5;
        strong {
            font-weight: 500;
        }
    }
    h1, h2 {
        text-transform: uppercase;
        &:before {
            position: absolute;
            height: 2rem;
            width: 100%;
            left: 0;
            right: 0;
            border-top: 1px dashed $colour_blue_cobalter_half;
            display: block;
            content: ' ';
            margin-top: -2rem;
            opacity: 0.5;
        }
        &:first-child {
            &:before {
                border-top-color: transparent;
            }
        }
    }
    #SiblingsAndChildren {
        h1, h2 {
            text-transform: uppercase;
            &:before {
                border-top: 1px dashed $colour_blue_cobalter_half;
            }
        }
    }
    h1 {
        line-height: 1.29;
        font-size: 4rem;
        margin-top: 1.5em;
    }
    h2 {
        font-size: 3rem;
        line-height: 1.3;
        margin-top: 1.5em;
        color: $colour_blue_cobalter;
    }
    p + ul,
    p + ol,
    p + p,
    ul + p,
    ol + p  {
        margin-top: -1.7rem!important;
    }
    p + ul,
    p + ol {
        margin-top: -2.5rem!important;
    }

    ul, ol {
        font-size: 2rem;
        margin-top: 0px;
        margin-bottom: 0;
        padding-left: 0;
        li {
            line-height: 1.5;
            margin-left: 2rem;
            margin-bottom: 1rem;
            padding-left: 0;
            ul, ol {
                padding-top: 1.7rem;
                margin-left: 0;
                padding-left: 2.3rem;
                padding-bottom: 0;
                li {
                    margin-left: 0rem;
                    padding-left: 0;
                }
            }
        }
    }
    h3 {
        font-size: 2rem;
        margin-bottom: 0.5rem;
    }
    h4 {
        font-size: 2rem;
        margin-bottom: 0.5rem;
    }
    h5 {
        font-size: 2rem;
        margin-bottom: 0.5rem;
    }
    h6 {
        font-size: 2rem;
        margin-bottom: 0.5rem;
        font-style: italic;
        font-weight: 200;
        font-family: $base_font_condensed;
    }
    .image-container {
        img {
            display: block;
            max-width: calc(100% - 2px)!important;
            width: auto!important;
            height: auto!important;
            margin: 0 auto;
            border: 1px solid $colour_yep_thats_grey;
        }
    }
    .captionImage {
        width: auto!important;
        p.caption {
            font-style: italic;
            font-size: 1.3rem;
            width: 100%;
            text-align: left;
            margin-left: 0;
            margin-top: 0rem;
        }
    }

    .media, .image-container, blockquote p {
        display: block;
        padding: 2rem 0;
        background-color: $colour_white;
        margin: 2rem auto!important;
        border-top: 1px dashed $colour_modern_iron;
        border-bottom: 1px dashed $colour_modern_iron;
        background: linear-gradient(to left, $colour_light_grey_aotrom, $colour_white, $colour_light_grey_aotrom);
        box-sizing: border-box;
        width: 100%;
        text-align: center;
        iframe {
            margin: 0 auto;
            display: block;
            max-width: 100%!important;
        }
    }
    .media:after,
    iframe:after {
        content: "";
        display: table;
        clear: both;
    }


    table {
        width: 100%!important;
        height: auto!important;
        clear: both;
        margin-top: 2rem;
        margin-bottom: 2rem;
        border-collapse: collapse;
        border: 1px dashed $colour_blue_cobalter;
        table-layout: fixed;
        tbody>tr>*:nth-last-child(2)~*{ width:50%!important;}
        tbody>tr>*:nth-last-child(3)~*{ width:33.3%!important;}
        tbody>tr>*:nth-last-child(4)~*{ width:25%!important;}
        tbody>tr>*:nth-last-child(5)~*{ width:20%!important;}
        * {
            font-size: 1.3rem;
            line-height: 1.3;
        }
        th, td {
            padding: 0.7rem;
            border: 1px dashed $colour_blue_cobalter;
            width: auto!important;
            ul, li, p {
                margin: 0;
                padding: 0;
            }
            li {
                list-style: none;
                &:before {
                    content: '- ';
                }
            }
            li, p {
                padding-bottom: 1.3rem;
            }
        }
        th {
            background-color: $colour_blue_cobalter;
            color: $colour_white;
            border: 1px dashed $colour_white!important;
        }
        th[scope=col] {
            vertical-align: bottom;
        }
        th[scope=row] {
            text-align: left;
        }
        td {
            vertical-align: top;
        }
    }
    hr {
        height: 0;
        border-top: 1px dashed $colour_blue_cobalter_half;
        border-bottom: none;
    }
    pre {
        width: 100%;
        overflow-x: auto;
        font-size: 10px;
        font-family: monospace;
        background-color: $colour_darker_grey_catch_22;
        padding: 1rem 10px;
        border-top-right-radius: 1rem;
        color: $colour_hypocrite_yellow;
    }
    strong, b {
        font-weight: 600;
    }

    i, em, blockquote, blockquote p {
        font-weight: 200;
        font-style: italic;
        font-family: $base_font_condensed;
    }
    blockquote p {
        text-align: right;
    }
    a {
        transition: 0.3s;
    }
    a:hover {
        filter: drop-shadow(0 0 12px $colour_sunny_side_up_yellow);
        // border-bottom: 3px solid $colour_blue_cobalter;
    }
    a:active {
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: inherit;
    }

    .last-updated {
        font-weight: 200;
        color: $colour_yep_thats_grey;
        font-size: 1.3rem;
        margin-top: 3rem!important;
        font-family: $base_font_headers;
    }
}
